version: "3.8"
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: nghiatlm/emotocare:new
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    env_file:
      - .env
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/fullchain.pem
      - ASPNETCORE_Kestrel__Certificates__Default__KeyPath=/https/privkey.pem
    volumes:
      - /etc/letsencrypt/live/bemodernestate.site/fullchain.pem:/https/fullchain.pem:ro
      - /etc/letsencrypt/live/bemodernestate.site/privkey.pem:/https/privkey.pem:ro
    user: root
